ErrorDocument 404 https://o2bd.com/

RewriteEngine on

RewriteRule ^Home index.php [NE,L]
RewriteRule ^Automation automation.php [NE,L]
RewriteRule ^Faq faq.php [NE,L]
RewriteRule ^CMS cms.php [NE,L]
RewriteRule ^Contact contact.php [NE,L]
RewriteRule ^CustomWeb customweb.php [NE,L]
RewriteRule ^SocialMedia socialmedia.php [NE,L]
RewriteRule ^UxDesign uxdesign.php [NE,L]
RewriteRule ^Service service.php [NE,L]
RewriteRule ^Portfolio portfolio.php [NE,L]
RewriteRule ^Ecom ecom.php [NE,L]
RewriteRule ^WebsiteDesign website-design.php [NE,L]
RewriteRule ^AI-Integration al_integration.php [NE,L]
RewriteRule ^CRM crm.php [NE,L]
RewriteRule ^ManagementSoftware management_software.php [NE,L]
RewriteRule ^Graphic graphic.php [NE,L]
RewriteRule ^WebsiteMaintenance website_maintenance.php [NE,L]
